<div class="large-3 columns ui-sidebar">
    <ul class="no-decor">
        <li class="ui-author-photo">
            <img class="ui-circle" src="/images/author.jpg" alt="Author">
        </li>
        <li class="ui-author-name">Rui Miguel</li>
        <li class="ui-blog-description">notes, ramblings and other random brain dumps</li>
        <li class="ui-sidebar-sep ui-icon-big">
            <!-- <a href="http://github.com/ravage"><i class="fa fa&#45;info&#45;circle"></i></a> -->
            <!-- <a href="http://github.com/ravage"><i class="fa fa&#45;at"></i></a> -->
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss-square"></i></a>
            <a href="http://github.com/ravage"><i class="fa fa-github"></i></a>
        </li>
    </ul>
</div>
